deb {{wheezy_server_base_mirror}} wheezy main contrib
deb {{wheezy_server_base_mirror}} wheezy-updates main
deb {{wheezy_server_base_mirror}} wheezy-backports main
deb http://security.debian.org/ wheezy/updates main
